@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant contrast-light (&:where(.contrast-light, .contrast-light *));
@custom-variant contrast-dark (&:where(.contrast-dark, .contrast-dark *));

@theme {
	--radius-3xl: calc(var(--radius-lg) + 6px);
	--radius-2xl: calc(var(--radius-lg) + 4px);
	--radius-xl: calc(var(--radius-lg) + 2px);
	--radius-lg: 0.5rem;
	--radius-md: calc(var(--radius-lg) - 2px);
	--radius-sm: calc(var(--radius-lg) - 4px);
	--radius-xs: calc(var(--radius-lg) - 6px);

	--font-geist-sans:
		'Geist Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

	--color-background: hsl(0, 0%, 100%);
	--color-foreground: hsl(0, 0%, 4%);

	--color-secondary: hsl(0, 0%, 96%);
	--color-secondary-foreground: hsl(0, 0%, 4%);

	--color-muted: hsl(0, 0%, 96%);
	--color-muted-foreground: hsl(0, 0%, 45%);

	--color-accent: hsl(0, 0%, 90%);
	--color-accent-foreground: hsl(0, 0%, 4%);

	--color-primary: hsl(221, 83%, 53%);
	--color-primary-foreground: hsl(0, 0%, 98%);

	--color-destructive: hsl(0, 72%, 51%);
	--color-destructive-foreground: hsl(0, 0%, 98%);

	--color-border: hsl(0, 0%, 67.5%);
	--color-ring: hsl(0, 0%, 4%);
}

@layer base {
	.dark {
		--color-background: hsl(226, 57%, 7%);
		--color-foreground: hsl(0, 0%, 98%);

		--color-secondary: hsl(222, 47%, 17%);
		--color-secondary-foreground: hsl(0, 0%, 98%);

		--color-muted: hsl(222, 47%, 13%);
		--color-muted-foreground: hsl(222, 47%, 55%);

		--color-accent: hsl(210, 47%, 17%);
		--color-accent-foreground: hsl(0, 0%, 98%);

		--color-primary: hsl(217, 91%, 60%);
		--color-primary-foreground: hsl(0, 0%, 4%);

		--color-destructive: hsl(0, 74%, 42%);
		--color-destructive-foreground: hsl(0, 0%, 98%);

		--color-border: hsl(0, 0%, 37.5%);
		--color-ring: hsl(0, 0%, 98%);
	}

	.contrast-light {
		--color-background: hsl(0, 0%, 100%);
		--color-foreground: hsl(0, 0%, 4%);

		--color-secondary: hsl(0, 0%, 96%);
		--color-secondary-foreground: hsl(0, 0%, 4%);

		--color-muted: hsl(210, 40%, 96.1%);
		--color-muted-foreground: hsl(215.4, 16.3%, 46.9%);

		--color-accent: hsl(0, 0%, 90%);
		--color-accent-foreground: hsl(0, 0%, 4%);

		--color-primary: hsl(221, 83%, 53%);
		--color-primary-foreground: hsl(0, 0%, 98%);

		--color-destructive: hsl(0, 72%, 51%);
		--color-destructive-foreground: hsl(0, 0%, 98%);

		--color-border: hsl(220, 3%, 58%);
		--color-ring: hsl(0, 0%, 4%);
	}

	.contrast-dark {
		--color-background: hsl(226, 57%, 7%);
		--color-foreground: hsl(0, 0%, 98%);

		--color-secondary: hsl(222, 47%, 17%);
		--color-secondary-foreground: hsl(0, 0%, 98%);

		--color-muted: hsl(217.2, 32.6%, 17.5%);
		--color-muted-foreground: hsl(215, 20.2%, 65.1%);

		--color-accent: hsl(210, 47%, 17%);
		--color-accent-foreground: hsl(0, 0%, 98%);

		--color-primary: hsl(217, 91%, 60%);
		--color-primary-foreground: hsl(0, 0%, 4%);

		--color-destructive: hsl(0, 74%, 42%);
		--color-destructive-foreground: hsl(210, 40%, 98%);

		--color-border: hsl(217.2, 32.6%, 17.5%);
		--color-ring: hsl(224.3, 76.3%, 48%);
	}

	@font-face {
		font-family: 'Geist Sans';
		src: url('/fonts/geist-sans/variable/Geist[wght].ttf') format('truetype');
		font-weight: 100 900;
		font-style: normal;
		font-display: swap;
	}

	* {
		@apply border-border;

		&::selection {
			@apply bg-primary text-primary-foreground;
		}
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		@apply bg-background font-geist-sans text-foreground min-h-screen w-full overflow-x-hidden;
	}

	p,
	li {
		@apply text-foreground/75 dark:text-muted-foreground;
	}

	.container {
		@apply mx-auto max-w-[1400px] px-8;
	}
}
